body {
  display: flex;
}

.checkboxgroup{
  width: 25em;
  overflow: auto;
}

.checkboxgroup label{
  margin-right: 5px;
  float: left;
}

.inputTODO {
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

.inputTODO input {
  margin-right: 8px;
}

.controlBtns {
  display: block;
  padding: 5px;
  margin: 5px;
}

.controlBtns .active {
  font-weight: bold;
}

.message {
  color: #666;
  margin-top: 3px;
  margin-left: 5px;
}